<div class="container">
    <div class="header">
        <label class="header-label"><span class="fa fa-address-book" aria-hidden="true"></span> contacts</label>
        <div class="add-button-container">
        </div>

        <div class="header-icon-container">
            <span class="fa fa-user-plus header-icon" aria-hidden="true" ng-click="toggleAddNewDialog()"></span>
            <span class="fa fa-cog header-icon" aria-hidden="true" ng-click="toggleSettingDialog()"></span>
        </div>

    </div>
    <main>
        <div class="search-container">
            <input type="text" placeholder="search" ng-model="search">
        </div>

        <header class="listview-header">
            <span>&nbsp;</span>
            <span>firstname</span>
            <span>lastname</span>
        </header>

        <div class="listview-container">
            <div class="listview" ng-repeat="x in contactList | orderBy: sortByValue | filter: search" ng-click="toggleContactDialog()">
                <span class="contactId" data-id="{{x.id}}">
                    <div class="display" ng-style="{'background-color': x.colour}">{{x.initials}}</div>
                </span>
                <span>{{x.first_name}}</span>
                <span>{{x.last_name}}</span>
            </div>
        </div>
    </main>
</div>

<!-- dialogs -->
<div ng-include="'app/view/dialogs/settings.html'"></div>
<div ng-include="'app/view/dialogs/new-contact.html'"></div>
<div ng-include="'app/view/dialogs/contact-details.html'"></div>
