.dialog-contact {
    height: 600px;
    width: 500px;
    top: calc(100vh / 2 - 300px);
    left: calc(100vw / 2 - 250px);

    .image-container {
        flex: 1 1 0;
        text-align: center;

        .display {
            @include initialLogo(140px);
            // box-shadow: 3px 4px 11px 2px #000;
            margin-bottom: 20px;
        }
    }

    .apply-button-container.active {
        &:first-of-type {
            border: 2px solid orange;
            color: orange;
            &:hover{
                background-color: orange;
                color: white;
            }
        }

        &:nth-child(2){
            border: 2px solid red;
            color: red;
            &:hover{
                background-color: red;
                color: white;
            }
        }
    }

    input{
        border: none;
        pointer-events: none;
        transition-duration: .15s;
        will-change: border;
    }

    .edit-mode{
        border: 2px solid grey;
        padding: 5px;
        pointer-events: all;

        &:focus{
            outline: none;
        }
    }
}
