.dialog-add-contact {
    height: 400px;
    width: 500px;
    top: calc(100vh / 2 - 200px);
    left: calc(100vw / 2 - 250px);

    

    .apply-button-container.active {
        &:first-of-type {
            border: 2px solid orange;
            color: orange;
            &:hover{
                background-color: orange;
                color: white;
            }
        }
    }
}
