.dialog-add-contact {
    height: 500px;
    width: 600px;
    top: calc(100vh / 2 - 250px);
    left: calc(100vw / 2 - 300px);

    input[type=text] {
        width: 200px;
        font-size: 25px;
        height: 25px;
        border-radius: 5px;
        border: 2px solid lightgrey;
        text-indent: 5px;

        &:focus {
            outline: none;
        }
    }

    .apply-button-container.active {
        &:first-of-type {
            border: 2px solid orange;
            color: orange;
            &:hover{
                background-color: orange;
                color: white;
            }
        }
    }
}
