.dialog-settings {
    height: 250px;
    width: 450px;
    top: calc(100vh / 2 - 125px);
    left: calc(100vw / 2 - 225px);

    span {
        // color: grey;
    }

    select {
        height: 30px;
        width: 200px;
        border: 2px solid lightgrey;
        border-radius: 5px;
        font-size: 20px;
        color: lightgrey;

        option {
            border: 5px solid white;
            border-radius: 5px;
            color: lightgrey;

            &:focus {
                user-select: none;
                outline: none;
            }
        }

        &:focus {
            outline: none;
        }
    }
}
