<section class="dialog-contact dialog">
    <header>
        <span class="fa fa-user" aria-hidden="true"></span> contact detail
    </header>
    <div class="close-button-container">
        <span class="fa fa-times-circle close-button" aria-hidden="true" ng-click="handleDialog($event, '.dialog-contact', true)"></span>
    </div>

    <section>
        <div class="dialog-body-container">
            <div class="image-container">
                 <div class="display" style="background-color: {{dialogContactDetail.contactDetail.colour}}">
                     {{dialogContactDetail.contactDetail.initials}}
                 </div>
            </div>

            <!-- <button ng-click="_handleDeleteContact(userDetailId)">delete contact</button> -->


            <div class="row">
                <article>Firstname</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.first_name"></article>
            </div>

            <div class="row">
                <article>Lastname</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.last_name"></article>
            </div>

            <div class="row">
                <article>email</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.email"></article>
            </div>

            <div class="row">
                <article>gender</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.gender"></article>
            </div>

            <div class="row">
                <article>work phone</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.phone_work"></article>
            </div>

            <div class="row">
                <article>mobile</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.phone_mob"></article>
            </div>

            <div class="row">
                <article>home phone</article>
                <article> <input ng-class="{'edit-mode': contactDetailEditMode}" type="text" ng-model="dialogContactDetail.contactDetail.phone_home"></article>
            </div>
        </div>
    </section>


    <footer>
        <div  class="apply-button-container active" ng-if="!contactDetailEditMode" ng-click="handleEditMode()">
            Edit
            <span class="fa fa-pencil dialog-footer-apply-button" aria-hidden="true"></span>
        </div>

        <div ng-if="contactDetailEditMode">
            <div  class="apply-button-container active" ng-click="handleEditMode()">
                cancel
                <span class="fa fa-ban dialog-footer-apply-button" aria-hidden="true"></span>
            </div>
            <div  class="apply-button-container active" ng-click="handleDeleteContact(dialogContactDetail.contactDetail.id)">
                Delete contact
                <span class="fa fa-trash dialog-footer-apply-button" aria-hidden="true"></span>
            </div>
            <div  class="apply-button-container active" ng-click="handleUpdatedContactDetails('abc')">
                Save
                <span class="fa fa-check-circle dialog-footer-apply-button" aria-hidden="true"></span>
            </div>
        </div>
    </footer>

</section>
