<div ng-controller="dialogAddNewCtrl">
    <custom-dialog header-title="'Add new contact'" class="'dialog-add-contact'"  controller="dialogAddNewCtrl">
        <dialog-body>

            <div
                class="dialog-body-container"
                ng-keyup="handleKeyUp(newContact)">

                <div ng-repeat="item in inputStructure">
                    <div ng-if="!item.multi">
                        <div class="row">
                            <article>{{item.label}}</article>
                            <article>
                                <input
                                    type="{{item.input}}"
                                    name="{{item.label}}"
                                    ng-model="newContact[item.id]"></article>
                        </div>
                        <div ng-if="error[item.label].display" class="row errormsg">
                            {{error[item.label].msg}}
                        </div>
                    </div>

                    <div ng-if="item.multi" class="row">
                        <article style="text-align:center;">
                            <span ng-repeat="entry in item.entries">
                                {{entry.label}}
                                <input
                                    type="{{entry.input}}"
                                    name="gender"
                                    value="{{entry.label}}"
                                    ng-model="newContact[item.label]"
                                    ng-click="handleNewContactClearAllValidate()">
                            </span>
                        </article>
                    </div>

                </div>
            </div>
        </dialog-body>

        <dialog-footer>
            <div class="apply-button-container ng-class:{'active': newContactClearAll.getState()}"
                ng-click="handleNewContactClearAllClick()">Clear All

                <span class="fa fa-minus-circle dialog-footer-apply-button" aria-hidden="true"></span>
            </div>

            <div class="apply-button-container ng-class:{'active': newContactSubmit.getState()}"
                ng-click="handleNewContactSubmitClick()">Add Contact

                <span class="fa fa-check-circle dialog-footer-apply-button" aria-hidden="true"></span>
            </div>
        </dialog-footer>
    </custom-dialog>
</div>
