<div ng-controller="dialogAddNewCtrl">
    <custom-dialog header-title="'Add new contact'" class="'dialog-add-contact'"  controller="dialogAddNewCtrl">
        <dialog-body>
            <!-- ng-keyup="newContactClearAll.validate(handleNewContactClearAllValidate, newContact)"> -->

            <div
                class="dialog-body-container"
                ng-keyup="handleKeyUp(newContact)">

                <div class="row">
                    <article>firstname</article>
                    <article>
                        <input
                            type="text"
                            name="firstname"
                            ng-model="newContact.first_name">
                    </article>
                </div>
                <div ng-if="error.firstname.display" class="row errormsg">
                    {{error.firstname.msg}}
                </div>

                <div class="row">
                    <article>lastname</article>
                    <article>
                        <input
                            type="text"
                            name="lastname"
                            ng-model="newContact.last_name">
                    </article>
                </div>

                <div ng-if="error.lastname.display" class="row errormsg">
                    {{error.lastname.msg}}
                </div>

                <div class="row">
                    <article>email</article>
                    <article>
                        <input
                            type="text"
                            name="email"
                            ng-model="newContact.email">
                    </article>
                </div>

                <div ng-if="error.email.display" class="row errormsg">
                    {{error.email.msg}}
                </div>

                <div class="row">
                    <article>Mobile</article>
                    <article>
                        <input
                            type="text"
                            name="mobile"
                            ng-model="newContact.phone_mob"
                            maxlength="10">
                    </article>
                </div>

                <div ng-if="error.mobile.display" class="row errormsg">
                    {{error.mobile.msg}}
                </div>

                <div class="row">
                    <!-- <article>gender</article> -->
                    <article style="margin: 0 auto;">
                        Male<input type="radio" name="gender" value="male" ng-model="newContact.gender" ng-click="handleNewContactClearAllValidate()">
                        Female<input type="radio" name="gender" value="female" ng-model="newContact.gender" ng-click="handleNewContactClearAllValidate()">
                    </article>
                </div>
            </div>
        </dialog-body>

        <dialog-footer>
            <div class="apply-button-container ng-class:{'active': newContactClearAll.getState()}"
                ng-click="handleNewContactClearAllClick()">Clear All

                <span class="fa fa-minus-circle dialog-footer-apply-button" aria-hidden="true"></span>
            </div>

            <div class="apply-button-container ng-class:{'active': newContactSubmit.getState()}"
                ng-click="newContactSubmit.handleClick(handleNewContactSubmitClick)">Add Contact

                <span class="fa fa-check-circle dialog-footer-apply-button" aria-hidden="true"></span>
            </div>
        </dialog-footer>
    </custom-dialog>
</div>
