<section class="dialog-settings dialog">
    <header>
        <span class="fa fa-cog header-icon" aria-hidden="true"></span> settings
    </header>
    <div class="close-button-container">
        <span class="fa fa-times-circle close-button" aria-hidden="true" ng-click="handleDialog($event, '.dialog-settings', true)"></span>
    </div>

    <section>
        <div class="dialog-body-container">
            <div class="row">
                <article>Sort Contact By</article>
                <article>
                    <select name="" id="sortby" ng-model="sortByValue" ng-change="handleSortByChange(sortByValue)">
                        <option value="first_name">firstname</option>
                        <option value="last_name">lastname</option>
                    </select>
                </article>
            </div>
        </div>
    </section>

    <footer ng-click="handleSort($event)">
        <div class="apply-button-container {{checkActive(sortByValue)}}">
            Apply
            <span class="fa fa-check-circle dialog-footer-apply-button" aria-hidden="true"></span>
        </div>
    </footer>
</section>
