@import 'dialogs/contact-details';
@import 'dialogs/create-new-contact';
@import 'dialogs/settings';

.dialog {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition-duration: 0.3s;
    border-radius: 5px;
    box-shadow: $shadow;
    will-change: opacity;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    header {
        display: block;
        position: relative;
        font-size: 20px;
        background-color: $blue;
        padding: 10px;
        box-sizing: border-box;
        color: white;
        text-align: left;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    section {
        margin: 20px;
        padding-bottom: 20px;

        .dialog-body-container {
            // display: flex;
            // flex-direction: column;
            width: 100%;

            .row {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;

                article {
                    flex: 1 1 auto;
                    padding: 10px;
                    text-align: right;

                    &:nth-of-type(2n + 1) {
                        text-align: left;
                        font-size: 25px;
                        color: #505161;
                    }

                    input[type=text] {
                        // flex: 1;
                        // max-width: 200px;
                        // width: 30%;
                        font-size: 25px;
                        height: 25px;
                        border-radius: 5px;
                        border: 2px solid lightgrey;
                        text-indent: 5px;

                        &:focus {
                            outline: none;
                        }
                    }

                    input.noborder{
                        border: none;
                        width: 310px;
                        pointer-events: none;
                        transition-duration: .15s;
                        will-change: border;
                    }

                    input.notvalid {
                        border: 2px solid red;
                    }
                }
            }

            .errormsg{
                display: block;
                color: red;
                text-align: center;
            }
        }
    }

    .close-button-container {
        display: block;
        background-color: #fff;
        height: 54px;
        width: 54px;
        border-radius: 27px;
        position: absolute;
        right: -25px;
        top: -25px;
    }

    .close-button {
        position: relative;
        top: -5px;
        font-size: 4em;
        color: red;
        transition-duration: $transition;
        @include hoverScale;
    }

    footer {
        display: block;
        padding: 0px 15px;
        // background-color: blue;
        text-align: center;
        font-size: 30px;
        color: lightgrey;
        transition-duration: $transition;
        will-change: transition;

        .apply-button-container {
            display: inline-block;
            position: relative;
            top: -15px;
            width: auto;
            padding: 5px;
            border-radius: 5px;
            border: 2px solid lightgrey;
            color: lightgrey;
            pointer-events: none;
            transition-duration: $transition;
            will-change: transform;
            background-color: #f7f7f7;
        }

        .active {
            border: 2px solid green;
            color: green;
            pointer-events: all;

            &:hover {
                cursor: pointer;
                color: white;
                background-color: green;
            }
        }
    }
}

.dialog[opened=true] {
    opacity: 1;
    z-index: 1;
}
